[
    {kernel, [
        % {logger_sasl_compatible, true},
        {logger_level, debug},
        {logger, [
            %% Console logger
            {handler, default, logger_std_h, #{
                formatter => {logevent_formatter, #{
                    template => [time, " [", level, "] ", {caption, caption, ""}, {caption, ": ", ""}, msg, data, stacktrace, "\n"],
                    single_line => true,
                    style => pretty
                }}
            }},

            %% Disk logger for errors
            {handler, disk_log_error, logger_disk_log_h, #{
                level => error,
                config => #{
                    file => "log/error.log",
                    type => wrap,
                    max_no_files => 10,
                    max_no_bytes => 52428800 % 10 x 5mb
                },
                formatter => {logevent_formatter, #{
                    template => [datetime, " [", level, "] ", {caption, caption, ""}, {caption, ": ", ""}, msg, data, stacktrace, "\n"],
                    single_line => true,
                    style => pretty
                }}
            }},

            %% Disk logger for debug messages
            {handler, disk_log_debug, logger_disk_log_h, #{
                level => debug,
                config => #{
                    file => "log/debug.log",
                    type => wrap,
                    max_no_files => 10,
                    max_no_bytes => 52428800 % 10 x 5mb
                },
                filters => [
                    {debug_filter, {fun logger_filters:level/2, {log, eq, debug}}}
                ],
                filter_default => stop,
                formatter => {logevent_formatter, #{
                    template => [datetime, " [", level, "] ", {caption, caption, ""}, {caption, ": ", ""}, msg, data, stacktrace, "\n"],
                    single_line => true,
                    style => pretty
                }}
            }},

            %% Disk logger for info messages
            {handler, disk_log_info, logger_disk_log_h, #{
                level => info,
                config => #{
                    file => "log/info.log",
                    type => wrap,
                    max_no_files => 10,
                    max_no_bytes => 52428800 % 10 x 5mb
                },
                filters => [
                    {info_filter, {fun logger_filters:level/2, {log, lt, error}}}
                ],
                filter_default => stop,
                formatter => {logevent_formatter, #{
                    template => [datetime, " [", level, "] ", {caption, caption, ""}, {caption, ": ", ""}, msg, data, stacktrace, "\n"],
                    single_line => true,
                    style => pretty
                }}
            }},

            %% Log messages into Chronos database
            {handler, chronos_db_log, logger_db_backend, #{
                level => debug,
                chronos => #{
                    app => "chronos",
                    component => "server",
                    branch => "local",
                    version => "1.0.0"
                },
                formatter => {logevent_formatter, #{
                    chars_limit => 8192,
                    style => pretty,
                    template => [{caption, caption, ""}, {caption, ": ", ""}, msg, data, stacktrace]
                }}
            }}
        ]}
    ]},

    {sasl, [
        {sasl_error_logger, false}
    ]},

    {erlcron, [
        {crontab, [
            % Vacuum logs
            % {{once, 10}, {cron_vacuum_logs, run, []}},
            % {{daily, {every, {1, hr}}}, {cron_vacuum_logs, run, []}},

            % Vacuum crash reports
            % {{once, 10}, {cron_vacuum_crash_reports, run, []}},
            % {{daily, {every, {1, hr}}}, {cron_vacuum_crash_reports, run, []}}
        ]}
    ]},

    {cerberus, [
        {realms, [
            % Example LDAP
            {yourcompany, [
                {title, "Your Company LDAP"},
                {directory,
                    {cerberus_ldap, [
                        {host, "yourcompany.com"},
                        {port, 636},
                        {ssl, true},
                        {base, "ou=Users,dc=yourcompany,dc=com"},
                        {base_groups, "ou=Groups,dc=yourcompany,dc=com"},
                        {bind_dn, "cn=binduser,ou=Users,dc=yourcompany,dc=com"},
                        {bind_password, "bindusersecret"},
                        {timeout, 5000}
                    ]}
                }
            ]}
        ]}
    ]},

    {ecouch, [
        {servers, [
            {main, [
                {options, [
                    {username, "couch.user"},
                    {password, "CHANGE_ME"}
                ]},
                {host, "cdb.yourcompany.com"},
                {protocol, https},
                {port, 443},
                {db, "chronos-dev"}
            ]}
        ]}
    ]},

    {db, [
        {hostname, "127.0.0.1"},
        {database, "chronos"},
        {username, "chronos_user"},
        {password, "chronos_pwd"},
        {auto_migrate, true},
        {pool_size, 5},
        {pool_max_overflow, 5},
        {connect_timeout, 5000},
        {query_timeout, 120000}
    ]},

    {slack, [
        {api_url, "https://slack.com/api"},
        {team_id, "CHANGE_ME"},
        {token, "CHANGE_ME"}
    ]},

    {web, [
        {bind_ip, {0, 0, 0, 0}},
        {bind_port, 8080},
        {acceptors, 5},
        {max_upload_size, 268435456},
        {proxy_enabled, false},
        {secure, false},
        {cacertfile, "/opt/ssl/ssl.ca-bundle.crt"},
        {certfile, "/opt/ssl/ssl.crt"},
        {keyfile, "/opt/ssl/ssl.pvk"},
        {url, "https://chronos.yourcompany.com/"},
        {tmp_dir, "var/tmp"},
        {uploads_dir, "var/uploads"},
        {api_key, "CHANGE_ME"},
        {auth_realm, yourcompany}
    ]}
].
